<!-- templates/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'blog_list' %}">Pages</a></li>
            <li><a href="{% url 'registro' %}">Signup</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <!-- Añadir más enlaces según sea necesario -->
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>

