{% extends "base.html" %}

{% block content %}

<h1>Acerca de Nosotros</h1>
<p>¡Bienvenidos a nuestra página web! Soy el creador Jhon Alexander Precido Micolta, y he creado este sitio para todos nuestros clientes.

    En este proyecto, nos enfocamos en ofrecer una amplia variedad de productos y servicios de ferretería, asegurando la mejor calidad y asesoramiento para cada uno de nuestros clientes. Nuestra misión es proporcionar productos de ferretería de alta calidad, junto con un servicio excepcional que mejore sus hogares y proyectos.
    
    Gracias por visitar nuestra página. ¡Esperamos que la encuentres útil e interesante!</p>
<p>Gracias</p>


<h2>Acerca de</h2>
<p>Somos una ferretería que lleva más de 20 años prestando nuestro servicio. Ofrecemos pintura y todo lo que necesite para el hogar.</p>

<h3>Nuestra Misión</h3>
<p>Nuestra misión es proporcionar productos de ferretería de alta calidad a nuestros clientes, ofreciendo un servicio excepcional y soluciones innovadoras que mejoren sus hogares y proyectos.</p>

<h3>Nuestra Visión</h3>
<p>Ser la ferretería líder en la comunidad, reconocida por nuestra dedicación al cliente, nuestra gama de productos de calidad y nuestro compromiso con la mejora continua.</p>

<h3>Sobre Nosotros</h3>
<p>En Ferretería La 35, nos enorgullece ofrecer una amplia variedad de productos de ferretería, desde herramientas hasta materiales de construcción. Nuestro equipo de expertos está siempre disponible para asesorar y ayudar a nuestros clientes a encontrar las soluciones perfectas para sus proyectos.</p>

<p>Estamos comprometidos con la sostenibilidad y nos esforzamos por ofrecer productos que no solo sean efectivos, sino también respetuosos con el medio ambiente.</p>

<div class="mt-4">
    <a href="#" class="btn btn-primary">Facebook</a>
    <a href="#" class="btn btn-success">WhatsApp</a>
    <a href="#" class="btn btn-info">Descargar WhatsApp</a>
</div>
{% endblock %}






