{% extends "base.html" %}

{% block content %}
<h1>Bienvenidos a Ferretería La 35</h1>
<p>Tu destino confiable para todas tus necesidades de ferretería y más.</p>

<div class="row">
    <div class="col-md-4">
        <img src="{% static 'images/ferreteria1.jpg' %}" class="img-fluid" alt="Ferretería La 35 - Imagen 1">
    </div>
    <div class="col-md-4">
        <img src="{% static 'images/ferreteria2.jpg' %}" class="img-fluid" alt="Ferretería La 35 - Imagen 2">
    </div>
    <div class="col-md-4">
        <img src="{% static 'images/ferreteria3.jpg' %}" class="img-fluid" alt="Ferretería La 35 - Imagen 3">
    </div>
</div>
{% endblock %}
