{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Bienvenido a Ferretería La 35</h1>
    <p>Esta es la página de inicio.</p>

    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/ferreteria1.jpg' %}" alt="Ferreteria">


        </div>
        <div class="col-md-4">
            <img src="{% static 'images/ferreteria3.jpg' %}" alt="Ferreteria">


        </div>
        <div class="col-md-4">
            <img src="{% static 'images/ferreteria3.jpg' %}" alt="Ferreteria">


        </div>
    </div>
{% endblock %}








