{% extends "base.html" %}

{% block content %}
    <h1>Lista de Productos</h1>
    <a href="{% url 'nuevo_producto' %}" class="btn btn-primary">Agregar Nuevo Producto</a>
    <ul>
        {% for producto in productos %}
            <li>
                <a href="{% url 'detalle_producto' producto.id %}">{{ producto.nombre }}</a>
                <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning">Editar</a>
                <form action="{% url 'eliminar_producto' producto.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
